In [28]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

def cookie(html):
    soup = BeautifulSoup(html, "html.parser")
    book_entries = soup.find_all("li", class_="searchResultItem")
    
    books = []
    
    for book in book_entries:
        title = book.find("h3", class_="booktitle").text.strip()
        
        author = book.find("span", class_="bookauthor").find("a").text.strip()
        
        year_published = book.find("span", class_="resultDetails").find(text=lambda t: "First published" in t).strip().split(" ")[-1]
        
        editions_text = book.find("div", class_="details").text
        editions = int([word for word in editions_text.split() if word.isdigit()][-1])
        
        logs_text = book.find("div", class_="details").text
        logs = int([word for word in logs_text.split() if word.isdigit()][-1])
        
        books.append({
            "Title": title,
            "Author": author,
            "Year Published": year_published,
            "Logs": logs,
            "Editions": editions
        })
    
    return books

all_books = []

for page in range(1, 11):
    url = f"https://openlibrary.org/trending/forever?page={page}"
    response = requests.get(url)
    all_books.extend(cookie(html_content))

books_df = pd.DataFrame(all_books)

display(books_df)

,Title,Author,Year Published,Logs,Editions
0,The BFG,Roald Dahl,1980,1376,1376
1,"Men are From Mars, Women are From Venus",John Gray,1992,1362,1362
2,Harry Potter and the Cursed Child,Jack Thorne,2001,1358,1358
3,Me Before You,Jojo Moyes,2012,1357,1357
4,Moby Dick,Herman Melville,1851,1350,1350
...,...,...,...,...,...
195,The Titan's Curse,Rick Riordan,2007,1300,1300
196,Cien años de soledad,Gabriel García Márquez,1967,1298,1298
197,A Wrinkle in Time,Madeleine L'Engle,1962,1296,1296
198,"A child called ""it""",David J. Pelzer,1987,1296,1296
199,"I, Robot",Isaac Asimov,1950,1280,1280

### What is the expected value of the amount of editions a new book in trending will have